extends layout

block content

    div.header
        li My Subreddits
        li r/jonluca
    div.main
        div.banner
            img(src='../images/background.jpg')
        div.title
            img(src='//b.thumbs.redditmedia.com/Sgqw1zW5DO9gHEOhJtVxS_hC7pIzOoRgokC-xqfUmWI.png')
            h1 /r/dogs
        div.list-view
            each dog in dogs
                div.list-item
                    div.vote-container
                        img(src='../images/up-arrow.svg', onclick=`handleClick(this, "${dog.name}", "POST")`)
                        p= dog.rating
                        img(src='../images/down-arrow.svg', onclick=`handleClick(this, "${dog.name}", "DELETE")`)
                    img(src=dog.imageUrl)
                    a(href=dog.name)= dog.name


